<html>

  <head>
    <title>
      components
    </title>
  </head>

  <body bgcolor="#EEEEEE" link="#CC0000" alink="#FF3300" vlink="#000055">

    <h1 align = "center">
      components
    </h1>

    <hr>

    <p>
      <b>components</b>,
      a FORTRAN90 code which
      organizes contiguous cells into labeled clusters, for a
      1D, 2D, or 3D array.  This code has uses in image analysis
      and percolation simulation.
    </p>

    <h3 align = "center">
      Licensing:
    </h3>

    <p>
      The computer code and data files described and made available on this
      web page are distributed under
      the MIT license
    </p>

    <h3 align = "center">
      Languages:
    </h3>

    <p>
      <b>components</b> is available in
      <a href = "https://people.sc.fsu.edu/~jburkardt/c_src/components/components.html">a C version</a> and
      <a href = "https://people.sc.fsu.edu/~jburkardt/cpp_src/components/components.html">a C++ version</a> and
      <a href = "components.html">a FORTRAN90 version</a> and
      <a href = "https://people.sc.fsu.edu/~jburkardt/m_src/components/components.html">a MATLAB version</a> and
      <a href = "https://people.sc.fsu.edu/~jburkardt/py_src/components/components.html">a Python version</a>.
    </p>

    <h3 align = "center">
      Related Data and Programs:
    </h3>

    <p>
      <a href = "../components_test/components_test.html">
      components_test</a>
    </p>

    <p>
      <a href = "https://people.sc.fsu.edu/~jburkardt/f_src/image_denoise/image_denoise.html">
      image_denoise</a>,
      a FORTRAN90 code which
      applies simple filtering techniques to remove noise from an image.
    </p>

    <p>
      <a href = "https://people.sc.fsu.edu/~jburkardt/f_src/image_edge/image_edge.html">
      image_edge</a>,
      a FORTRAN90 code which
      demonstrates a simple procedure for edge detection in images.
    </p>

    <p>
      <a href = "../region/region.html">
      region</a>,
      a FORTRAN90 code which
      reads 3D MRI voxel data, and groups the voxels into connected regions;
    </p>

    <h3 align = "center">
      Reference:
    </h3>

    <p>
      <ol>
        <li>
          Jonas Gomes, Luiz Velho,<br>
          Image Processing for Computer Graphics,<br>
          Springer, 1997,<br>
          ISBN: 0387948546,<br>
          LC: T385.G65.
        </li>
        <li>
          William Pratt,<br>
          Digital Image Processing,<br>
          Second Edition,<br>
          Wiley, 1991,<br>
          ISBN13: 978-0471857662,<br>
          LC: TA1632.P7.
        </li>
      </ol>
    </p>

    <h3 align = "center">
      Source Code:
    </h3>

    <p>
      <ul>
        <li>
          <a href = "components.f90">components.f90</a>, the source code.
        </li>
        <li>
          <a href = "components.sh">components.sh</a>, 
          compiles the source code.
        </li>
      </ul>
    </p>

    <hr>

    <i>
      Last revised on 17 July 2022.
    </i>

    <!-- John Burkardt -->

  </body>

  <!-- Initial HTML skeleton created by HTMLINDEX. -->

</html>
